<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Get Hitchhike</title>
<link href="./css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="./css/logo.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./js/jquery.min.js"></script>
<script src="./js/typed.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="./js/move-top.js"></script>
<script type="text/javascript" src="./js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!---- start-smoth-scrolling---->
<!-- Custom Theme files -->
<link href="./css/theme-style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!----font-Awesome----->
<link rel="stylesheet" href="./fonts/css/font-awesome.min.css">
<!----font-Awesome----->
<!----webfonts---->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.9.3/vue-resource.min.js"></script>
<!----//webfonts---->
<!----start-top-nav-script---->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!----//End-top-nav-script---->
</head>
<body>
		<!----start-container---->
			<!----start-header---->
		<div id="home" class="header scroll">
			<div class="container">
				<!---- start-logo---->
				<div class="logo">
					<h1 class="logoContainer"><span class="logoText">H<span>.</span></span></h1>
				</div>
				<!---- //End-logo---->
				<!----start-top-nav---->
				 <nav class="top-nav">
					<ul class="top-nav">
						<li class="active"><a href="#home" class="scroll">Home</a></li>
						<li class="page-scroll"><a href="#fea" class="scroll">Features</a></li>
						<li class="page-scroll"><a href="#work" class="scroll">Workflow</a></li>
						<li class="page-scroll"><a href="#pkg" class="scroll">Packages</a></li>
					</ul>
					<a href="#" id="pull"><img src="./images/nav-icon.png" title="menu" /></a>
				</nav>
				<div class="clearfix"> </div>
				<div class="slide-text text-center">
					<h1>Hitchhike</h1>
					<p><span class="typed-pre">The CMS for </span> <span id="typed"></span></p>
					<code>
					git clone https://github.com/gethitchhike/hitchhike.git
					&& cd Hitchhike/ &&  ./hm.php init
					</code>
				</div>
				<!----//End-top-nav---->
			</div>
		</div>
		<div id="fea" class="features">
			<div class="container">
				<div class="head text-center">
					<h3><span> </span> Features</h3>
					<p>Hitchhike is a modular, blog oriented flat file CMS.</p>
				</div>
				<!---- start-features-grids---->
				<div class="features-grids text-center">
					<div class="col-md-4 features-grid">
						<span class="fea-icon1"><i class="fa fa-fast-forward"> </i> </span>
						<h3><a href="#">Fast installation</a></h3>
						<p>A complete installation within 60 seconds</p>
					</div>
					<div class="col-md-4 features-grid">
						<span class="fea-icon1"><i class="fa fa-puzzle-piece"> </i> </span>
						<h3><a href="#">Modular</a></h3>
						<p>Only use the features you want</p>
					</div>
					<div class="col-md-4 features-grid">
						<span class="fea-icon1"><i class="fa fa-code-fork"> </i> </span>
						<h3><a href="#">Use whatever to compose</a></h3>
						<p>Use your favorite editor to compose content</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!---- //End-features-grids---->
			</div>
		</div>
		<div id="work" class="work">
			<div class="container">
				<div class="head text-center work-head">
					<h3><span> </span> Workflow</h3>
					<p> </p>
				</div>
				<div class="work-grids">
					<div class="col-md-4 work-grid">
						<span class="col-md-5 w-icon"> <i class="fa fa-terminal"> </i></span>
						<div class="col-md-7 work-info">
							<h4>Manage</h4>
							<p>Use <code>hm.php createpost "hello world"</code> to create a post</p>
						</div>
					</div>
					<div class="col-md-4 work-grid center-work-grid">
						<span class="col-md-5 w-icon"> <i class="fa fa-pencil"> </i></span>
						<div class="col-md-7 work-info">
							<h4>Compose</h4>
							<p>Use your favorite text editor to compose and publish your content.</p>
						</div>
					</div>
					<div class="col-md-4 work-grid">
						<span class="col-md-5 w-icon"><i class="fa fa-puzzle-piece"> </i> </span>
						<div class="col-md-7 work-info">
							<h4>Extend</h4>
							<script>
								$.get( "https://packages.0fury.de/?/list/", function( data ) {
									var json = $.parseJSON(data);
									$("#count").text(json.length);
								});
							</script>
							<p>Use <code>hm.php install &lt;package&gt;</code> to get new features. You can choose among <i id="count"></i> packages.</p>
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="work-map">
						<span> </span>
					</div>
				</div>
			</div>
		</div>
		<div id="pkg" class="pkg">
			<div class="container">				
				<div class="col-lg-4">
						<div class="head text-center">
							<h3><span> </span> Trending right now</h3>
						</div>
						<span style = "font-size: {{ result.Factor }}em" v-for="(key,result) in trending">
							<a  class="{{ key }}"  href="#{{ key }}" v-on:click="selectPackage($event)">
								{{ key }} ({{ result.Downloads }})
							</a>
						</span>
				</div>	
				<div class="col-lg-4">
						<div class="head text-center">
							<h3><span> </span> Search</h3>
							<p>{{ count }} packages available</p>
						</div>	
						<input v-model="search" class="form-control">
						<ul class="no-bullet list-group  search-results">
							
								<li v-for="result in results" class="list-group-item">
									<a  class="{{ result.Name }}"  href="#{{ result.Name }}" v-on:click="selectPackage($event)">
									<i class="fa fa-puzzle-piece" aria-hidden="true"></i> {{ result.Name }}								
									<span class="badge"><i class="fa fa-download" aria-hidden="true"></i> {{ result.Downloads }}</span>
									</a>
								<li>
							
						</ul>
				</div>
				<div class="col-lg-4">
					<div class="info" v-if="this.selectedPackage !== null">
						<div class="head text-center">
							<h3><span> </span>Package {{ selectedPackage.Name }} {{ selectedPackage.Version }} </h3>
						</div>					
						<p>
							{{ selectedPackage.Description }}
						</p>
						<code style="text-align:center">
							hm.php install {{ selectedPackage.Name }}							
						</code>
						<span class="badge badge-tag" v-for="tag in selectedPackage.Tags">#{{ tag }}</span>
					</div>
				</div>	
			</div>
			<script>
				Vue.http.options.emulateJSON = true;    
				vm = new Vue({
					el: '.pkg',
					data: {
						count: 5,
						packages:null,
						search:"",
						packageInfos:[],
						trending:null,
						selectedPackage:null
					},
					created:function(){
							this.getPackages();	
							this.getTrending();			
					},
					methods:{
						selectPackage:function(event){
							event.preventDefault();
							var targetPackage = event.target.className;
							for(var i=0;i<this.packageInfos.length;i++){
								if (this.packageInfos[i].Name === targetPackage){
									this.selectedPackage =this.packageInfos[i];
									var d = new Date(this.selectedPackage.LastModified);
									
									break;
								}
							}
						},
						getPackages:function(){
							this.$http.get("https://packages.0fury.de/?/list/", {}).then(
								function(result) {
									packages = JSON.parse(result.body);
									this.count = packages.length;
									for(var i=0;i<packages.length;i++){
										this.$http.get("https://packages.0fury.de/?/package/"+packages[i]+"/", {}).then(
											function(result) {
											
												var info = JSON.parse(result.body);
												this.packageInfos.push(info);
											},
											function (error){
												console.log(error);
											}
										);		
									}
								},
								function (error){
									console.log(error);
								});	
						},
						getTrending:function(){
							this.$http.get("https://packages.0fury.de/?/trending/", {}).then(
								function(result) {
									this.trending = JSON.parse(result.body);
									var sum = 0;
									for(var i=0;i<this.trending.length;i++){
										sum += this.trending[i].Downloads;
									}
									var max = 0;
									for (var key in this.trending) {
										var obj = this.trending[key];
										sum += obj.Downloads;
										if (obj.Downloads > max){
											max = obj.Downloads;
										}
									}
									for (var key in this.trending) {
										var obj = this.trending[key];
										obj.Factor = 1.1+(obj.Downloads/max);
									}

								},
								function (error){
									console.log(error);
								});	
						}
					},
					computed:{
						results:function(){
							var matches = [];
							if (this.search !== ""){
								var needle = this.search.toLowerCase();
								for(var i=0;i<this.packageInfos.length;i++){
									if (this.packageInfos[i].Name.indexOf(needle) !== -1 || this.packageInfos[i].Description.indexOf(needle) !== -1){
										matches.push(this.packageInfos[i]);
									}
								}
							}
							return matches;
						}
					}
				});
			</script>
		</div>
		</div>
		<div class="clearfix"> </div>
		<!----//End-portfolio----->
		<!----start-footer---->
		<div class="footer">
			<div class="container">
				<div class="footer-left">
					<p>Mabur Template by <a href="http://w3layouts.com/">W3layouts</a></p>

				</div>
				<script type="text/javascript">
				$(document).ready(function() {
					
					var defaults = {
			  			containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
			 		};
					
					
					$().UItoTop({ easingType: 'easeOutQuart' });
					$("#typed").typed({
			        strings: ["developers.","creators.","shell users.","you."],
			        typeSpeed: 100
			    });
					
				});
				
			</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
			</div>
		</div>
		<!----//End-footer---->
		<!----//End-container---->
	</body>
</html>

